i am markdown - description 

# Heading 1

## heading 2

###### heading6

In [1]:
print(4)
## i am a comment

4

In [2]:
var1 = 12
var2 = 12.34
var3 = "string"
var4 = True

In [3]:
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [4]:
var5 = 3+4j
print(type(var5))

<class 'complex'>

In [5]:
# take an input
var6 = (input("Enter your age : "))
print("your age is: ", var6)

Enter your age :
your age is:

In [9]:
var1 = 2
print(type(var1))
var1 = "good"
print(type(var1))

<class 'int'>
<class 'str'>

In [20]:
var1 = 3
var2 = 4
print(var1+var2)
print(var1-var2)
print(var1*var2)
print(var1/var2)
print(var1**var2)
print(var2%var1)
print(var2//var1)

7
-1
12
0.75
81
1
1

In [18]:
12//5

2

In [22]:
(12/5)

2.4

In [24]:

import math

In [27]:
math.ceil(12.4)

13

In [30]:
#typecasting
var1 = 12.55
print(type(var1))
var1 = int(var1)# typecasting
print(type(var1))
print(var1)

<class 'float'>
<class 'int'>
12

In [31]:
# int() , float() , str() , bool() ,list , tuple , dict , set ,

In [43]:
var3 = (complex(-12))
print(type(var3),  var3)

<class 'complex'> (-12+0j)

In [46]:
var2 = "1245"
print(int(var2))
print(float(var2))

1245
1245.0

In [48]:
print("your numbers are %d , %f and %s"%(12,23,"wac"))

your numbers are 12 , 23.000000 and wac

In [52]:
print("i" , "love" ,"to" , "code" , sep="&",end=">")

i&love&to&code>

In [53]:
print?

In [54]:
a , b , c = 12 , 23.5  ,"school"
print(a, b ,c)

12 23.5 school

In [61]:
# if - else 
a = 11
if a==10:
    print("a is egual to 10")
elif a<10:
    print("a is less than 10")
else:
    print("a is greater than  10")

a is greater than  10

In [70]:
var =2
var/=3
# var = var+3

In [71]:
var

0.6666666666666666

In [75]:
# intilisation , condition , updation
i=0
n=10
while i<n:
    print("step ",i)
    i+=1

step  0
step  1
step  2
step  3
step  4
step  5
step  6
step  7
step  8
step  9

In [91]:
for i in range(10,-1,-2):
    print("step ",i)
print("hello")

step  10
step  8
step  6
step  4
step  2
step  0
hello

In [84]:
# 10 ,8 ,6 ,4 ,2, 0

In [97]:
def func(name):
    print("hello" , name)
    return 1

In [98]:
string = (func("rahul"))
print(string)

hello rahul
1

In [103]:
def fact(n):
    if n==0 or n==1:
        return 1
    return n*fact(n-1)
fact(0)

1

In [ ]:
# list , tuples , dictionary

In [122]:
## Tuples
tu = (1 , 2 , 4, "ds" , 1.23, True)
tu = (1,2,3)
tup = tuple([1, 2 , 3 ,4 ])
print(tup)

(1, 2, 3, 4)

In [110]:
# tu[2] = 3

In [111]:
type(tu)

tuple

In [112]:
tu[0]

1

In [113]:
tu1 = (1 , 2 , 'j')
tu2 = (3 ,4.5 ,'u')
tu1 = tu1+tu2
print(tu1)

(1, 2, 'j', 3, 4.5, 'u')

In [119]:
tu1 = (1 , 2 , 3 , 4, 5)
print(max(tu1))
print(min(tu1))

5
1

In [120]:
#list

In [142]:
ls = [1,2,3,4,5]
print(type(ls))

<class 'list'>

In [143]:
ls[2] = 10
print(ls)

[1, 2, 10, 4, 5]

In [144]:
ls = list((1,2,3,4,5))

In [145]:
#set
s = set([15,3,4,5,6,7,7,7,7,7])
print(s)

{3, 4, 5, 6, 7, 15}

In [146]:
if 4 in s:
    print("4 catched")

4 catched

In [147]:
ls.append(10)
ls

[1, 2, 3, 4, 5, 10]

In [148]:
s.add(11)

In [150]:
ls.insert(1,10)
ls

[1, 10, 10, 2, 3, 4, 5, 10]

In [159]:
a1 = [2,3,4]
a2 = [3,4,5]
print(a1+a2)

[2, 3, 4, 3, 4, 5]
None

In [160]:
# union , intersection . ,difference

In [161]:
dic ={"a":1,
     "b":2,
     "c":[3,4],
     "d":{"e":1,"f":2}
     }

In [163]:
dic["a"]

1

In [164]:
dic["d"]

{'e': 1, 'f': 2}

In [165]:
dic.keys()

dict_keys(['a', 'b', 'c', 'd'])

In [166]:
dic.values()

dict_values([1, 2, [3, 4], {'e': 1, 'f': 2}])

In [167]:
dic["g"] = 10
print(dic)

{'a': 1, 'b': 2, 'c': [3, 4], 'd': {'e': 1, 'f': 2}, 'g': 10}

In [168]:
dic1 = {
    "h":11,
    "i":12
}

dic.update(dic1)

In [169]:
dic

{'a': 1, 'b': 2, 'c': [3, 4], 'd': {'e': 1, 'f': 2}, 'g': 10, 'h': 11, 'i': 12}

In [174]:
l1 = [1,2,3,4 ]
l2 = ["a","b","c","d"]
dic3 = dict(zip(l1,l2))
print(dic3)

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

In [177]:
type(zip(l1,l2))

zip